<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Asistencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-label>Asistencias</ion-label>
    <ion-card *ngFor="let m of asistenciasArray">
      <div class="asistencias" routerLink="/asis-datos/{{m.id}}">
        <h2>{{m.Asignatura}}</h2>
        <h2>{{m.Profesor}}</h2>
        <h2>{{m.Fecha}}</h2>
      </div>
    </ion-card>
  </div>
  
</ion-content>
