.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.saludo{
    margin-top: 5%;
    text-align: center;
}

.botones{
    margin-top: 10%;
}
.xD{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ion-icon{
    margin-bottom: 10px;
}