.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.saludo{
    margin-top: 5%;
    text-align: center;
}

.botones{
    margin-top: 10%;
}
.xD{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ion-icon{
    margin-bottom: 10px;
}
ion-button {
    color: white;
    opacity: 0.5;
    background: #20a1cf;
    margin: 10px;
  
    --background: #490219;
  }
  
@media (prefers-color-scheme: dark) {
    ion-button {
      --background: green;
    }
  }