<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>menuPrin</ion-title>
    <ion-button (click)="salir()" slot="end">
      <ion-icon name="log-out"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card class="prin">
    <div class="container botones">

      <ion-title> 
        ¡Hola, {{this.nombre}}!
      </ion-title>

      <ion-button (click)="escanear()">Escanear</ion-button>

      <ion-button (click)="visualizar()">Visualizar</ion-button>
    </div>
  </ion-card>
  
</ion-content>
