<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Menu</ion-title>
    <ion-button (click)="salir()" slot="end">
      <ion-icon name="log-out"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card class="prin">
    <div class="container saludo">
      <ion-title> 
        ¡Hola, {{this.nombre}}!
      </ion-title>
    </div>
    <div class="container botones ">
      <ion-row>
        <ion-col>
          <ion-button (click)="escanear()">
            <div class="xD">
              <ion-icon size="large" name="qr-code"></ion-icon> Escanear
            </div>
          </ion-button>  
        </ion-col>
        <ion-col>
          <ion-button (click)="visualizar()">
            <div class="xD">
              <ion-icon size="large" name="eye"></ion-icon> Visualizar
            </div>
          </ion-button>  
        </ion-col>
      </ion-row>
      
    </div>
  </ion-card>
  
</ion-content>
