<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Menu</ion-title>
    <ion-button (click)="salir()" slot="end">
      <ion-icon name="log-out"></ion-icon>
    </ion-button>
    <ion-button (click)="menu()" slot="start">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-icon (click)="closeMenu()" style="font-size: 30px;" name="close-outline" slot="end"></ion-icon>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" scrollY="false">
    <ion-list>
      <ion-item (click)="perfilUsuario()">
        <ion-icon style="padding-right: 10px; font-size: 35px;" name="person-circle-outline"></ion-icon>
        <h3>Perfil</h3>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
</div>

<ion-content [fullscreen]="true">
  <ion-card class="prin">
    <div class="monika">
      <ion-img src="assets/img/just-monika.jpg" style="width: 512px; height: 512px;"></ion-img>
    </div>
    <div class="container saludo">
      <ion-card *ngFor="let i of usuarioFiltro">
        <h3>¡Hola, {{i.nombre}}!</h3>
      </ion-card>
    </div>
    <div class="container botones ">
      <ion-row>
        <ion-col id="button">
          <ion-button (click)="escanear()">
            <div class="xD">
              <ion-icon size="large" name="qr-code"></ion-icon> Escanear
            </div>
          </ion-button>  
        </ion-col>
        <ion-col>
          <ion-button (click)="visualizar()">
            <div class="xD">
              <ion-icon size="large" name="eye"></ion-icon> Visualizar
            </div>
          </ion-button>  
        </ion-col>
      </ion-row>
      
    </div>
  </ion-card>
  
</ion-content>
