<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Datos Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-label class="titulo">Datos de la Asistencia</ion-label>
    <ion-label>Asignatura: "Arquitectura"</ion-label>
    <ion-label>Seccion:"ASY4131-003D"</ion-label>
    <ion-label>Profesor:"Camilo Alexis Felipe Sebastian Muñoz"</ion-label>
    <ion-label>Fecha:"04-09-2023"</ion-label>
    <ion-label>Hora:"16:41-18:50"</ion-label>
  </div>
</ion-content>
