<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Datos Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-label class="titulo">Datos de la Asistencia</ion-label>
    <ion-card *ngFor="let m of asisFiltro">
      <div class="asistencias">
        <ion-label>Asignatura: "{{m.Asignatura}}"</ion-label>
        <br>
        <br>
        <ion-label>Seccion:"{{m.Seccion}}"</ion-label>
        <br>
        <br>
        <ion-label>Profesor:"{{m.Profesor}}"</ion-label>
        <br>
        <br>
        <ion-label>Sala:"{{m.Sala}}"</ion-label>
        <br>
        <br>
        <ion-label>Fecha:"{{m.Fecha}}"</ion-label>
        <br>
        <br>
        <ion-label>Hora:"{{m.Hora}}"</ion-label>
      </div>
    </ion-card>
  </div>
</ion-content>
