<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-label><strong>Ingrese sus datos</strong></ion-label>
    <ion-input label="Nombres:" ></ion-input>
    <ion-input label="Apellidos:"></ion-input>
    <ion-input [(ngModel)]="correo" label="Correo electronico:"></ion-input>
    <ion-input [(ngModel)]="contra" type="Password" label="Contraseña:"></ion-input>
    <ion-button (click)="confirmar()">Confirmar</ion-button>
  </div>
</ion-content>
