<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Escanear Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-label>Escanear Asistencia de la clase</ion-label>
    <ion-img src="https://qr-codes-svg.s3.amazonaws.com/kYmirJ.svg?1694141284467" alt="Registrar Asis jiji">
    </ion-img>
    <ion-button (click)="escan()">Escanear Qr</ion-button>
  </div>
</ion-content>
