<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>confirmAsis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-label>Asignatura: Programacion de Aplicaciones Móviles</ion-label>
    <ion-label>Seccion: PGY4121-001D</ion-label>
    <ion-label>Profesor: Guillermo Villacura</ion-label>
    <ion-label>Fecha: 08-09-2023</ion-label>
    <ion-label>Hora: 14:31-16:40</ion-label>
    <ion-button (click)="confirmar()">Confirmar</ion-button>
  </div>
</ion-content>
